body {
    font: 14px/2 "Open sans",sans-serif;
    letter-spacing: 0.05em;
    background-color: #CFEC9D;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

  
  /**
    Hamburger
  **/
  #toggle {
    display: none;
  }

  .hamburger {
    position: absolute;
    top: 5em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #550600;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  /**
  Nav Styles
  **/
  .nav {
    position: fixed;
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 0;
    border-radius: 10%;
    background-color: #A0C562;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  nav {
    text-align: left;
    margin-left: 25%;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: #550600;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  nav a:hover {
    color: white;
  }
  nav a:hover:before {
    height: 100%;
  }
  
  /**
  Hamburger Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }



/**
  Slideshow
  **/
  .btn {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: transparent; 
    border: 1px solid #e1e1e1;
    font: 12px/1.2 "Oswald", sans-serif;
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    transition: color 0.1s linear 0.05s; */
   
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #e1e1e1;
      z-index: 1;
      opacity: 0;
      transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
    }  
  
    &::after {
      transition:border 0.1s linear 0.05s;
    }
  
    .btn-inner {
      position: relative;
      z-index: 2;
    }
  
    &:hover {
      color: #373737;
      transition: color 0.1s linear 0s;
  
      &::before {
        top: 0;
        height: 100%;
        opacity: 1;
        transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
      }
  
      &::after {
        border-color: #373737;
        transition:border 0.1s linear 0s;
      }
    }
  } */
  
   .slideshow { 
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
  
    .slideshow-inner { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
   .slides { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  
    .slide { 
      display: none;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease;
  
      &.is-active {
        display: block;
      }
  
      &.is-loaded{
        opacity: 1;
      }
  
      .caption { 
        padding: 0 100px;
      }
  
      .image-container { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: 1;
        background-size: cover;
        image-rendering: optimizeQuality;
  
        &::before { 
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.5);
        }
    }
  
      .image {
        width: 100%;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
  
      &-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      } */
  
      .title { 
        margin: 0 auto 15px;
        max-width: 1000px;
        font: 300 50px/1.2 "Oswald", sans-serif;
        letter-spacing: 0.35em;
        text-transform: uppercase; 
      }
  
      .text {
        margin: 0 auto;
        max-width: 1000px;
        font-size: 18px;
        line-height: 1.4;
      } */
  
       .btn {
        margin: 15px 0 0;
        border-color: #fff;
  
        &::before {
          background:#fff
        }
      }
    } 

     .pagination { 
      position: absolute;
      bottom: 35px;
      left: 0;
      width: 100%;
      height: 12px;
      cursor: default;
      z-index: 2;
      text-align: center;
  
      .item { 
        display: inline-block;
        padding: 15px 5px;
        position: relative;
        width: 46px;
        height: 32px;
        cursor: pointer;
        text-indent: -999em;
        z-index: 1;
  
        + .page {
          margin-left: -2px;
        }
  
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 15px;
          left: 5px;
          width: 36px;
          height: 2px;
          background: rgba(255, 255, 255, 0.5);
          transition: background 0.2s ease;
        } 
  
        &::after {
          width: 0;
          background: darkolivegreen;
          z-index: 2;
          transition: width 0.2s ease;
        }
  
        &:hover::before,
        &.is-active::before {
          background-color: darkolivegreen;
        }
      }
    }
  
    .arrows {
      .arrow {
        margin: -33px 0 0;padding: 20px;position: absolute;top: 50%;cursor: pointer;z-index: 3;
      }
  
      .prev {
        left: 30px;
  
        &:hover .svg {
          left: -10px;
        }
      }
  
      .next {
        right: 30px;
  
        &:hover .svg {
          left: 10px;
        }
      }
  
     .svg {
        position: relative;
        left: 0;
        width: 14px;
        height: 26px;
        fill: darkolivegreen;
        transition: left 0.2s ease;
      } 
    }
  } 
